.nav {
    padding: 2.4rem;
    background: var(--clr-background);
    width: 100%;
    transform: translateX(-100%);
    transition: all .4s ease-in-out;

    position: absolute;
    
    &.show-mobile-menu {
        transform: translateX(0);

    }
    
    &__item {
        &:not(:last-child) {
            border-bottom: 1px solid var(--clr-accent); 
        }
    }

    &__btn {  
        width: 100%;      
        padding: 2rem 0;
        
        letter-spacing: .2rem;

        display: flex;
        align-items: center;

        &:before {
            content: '';
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 2rem;
            border-radius: 50%;
        }

        &--mercury::before { background-color: var(--clr-mercury); }
        &--venus::before { background-color: var(--clr-venus); }
        &--earth::before { background-color: var(--clr-earth); }
        &--mars::before { background-color: var(--clr-mars); }
        &--jupiter::before { background-color: var(--clr-jupiter); }
        &--saturn::before { background-color: var(--clr-saturn); }
        &--uranus::before { background-color: var(--clr-uranus); }
        &--neptune::before { background-color: var(--clr-neptune); }

        &:after {
            content: '';
            width: 2.4rem;
            height: 2.4rem;
            margin-left: auto;
            background: url('../svg/icon-chevron.svg') no-repeat center;
            transform: scale(2.4);
        }
    }
}