@use '../base';

.mobile-menu {

    &__button {
        width: 4.4rem;
        height: 4.4rem;
        transform: translateX(1rem);
        
        display: grid;
        place-content: center;

        @include base.tablet {
            display: none;
        }
    }

    &__icon {
        width: 2.4rem;
        height: .3rem;
        background-color: var(--clr-font--white);
        
        position: relative;

        transition: all .4s ease-in-out;

        &:before {
            content: '';
            width: inherit;
            height: inherit;
            background-color: inherit;

            position: absolute;
            top: -.7rem;
            left: 0;

            transition: inherit;
        }
        
        &:after {
            content: '';
            width: inherit;
            height: inherit;
            background-color: inherit;

            top: .7rem;
            left: 0;
            position: absolute;

            transition: inherit;
        }
    }
}

.close-button .mobile-menu__icon {
    transform: translateX(-2.4rem);
    background: transparent;
}

.close-button .mobile-menu__icon::before {
    transform: rotate(135deg) translate(-12px, -22px);
    background: var(--clr-font--white);
}

.close-button .mobile-menu__icon::after {
    transform: rotate(-135deg) translate(-12px, 22px);
    background: var(--clr-font--white);
}