@use '../base';

.header {
    max-width: 144rem;
    margin: 0 auto;
    padding: 2.4rem 2.4rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-accent);

    @include base.tablet {
        display: block;
        padding: 2.4rem 2.4rem 0 2.4rem;
        text-align: center;
    }

    @include base.desktop {
        display: flex;
        padding: 0 4.2rem;
        text-align: center;
    }

    &__logo {
        font-family: var(--font-secondary);
        font-weight: 400;
        font-size: 2.8rem;
        text-transform: uppercase;
    }
} 



